.modal-wrapper {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20vh;
    right: 0;
    left: 0;
    width: 90vw;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 0;
    z-index: 9999;
}

.modal-wrapper-enter {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
}

.modal-wrapper-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.modal-wrapper-exit {
    opacity: 1;
}

.modal-wrapper-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


